.about {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 25px;
	margin-top: 100px;
}

body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	line-height: 1.7 !important;

}

.education {
	margin-top: 100px;

}

.experience {
	margin-top: 100px;
}

.fa-4x {
	color: rgb(102, 102, 102);
}

hr {
	background-color: rgb(187, 187, 187);
}

html {
	scroll-behavior: smooth;
	line-height: 1.6;

}

li a, ul li a:visited {
	color: black;
	text-decoration: none;
}

li a:hover, ul li a:active {
	color: rgb(155, 153, 153);
	text-decoration: none;
}

li.active a {
	color: black;
	text-decoration: none;
}

#menu_col {
	text-align: center;
}	

#name {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 100px;
}	

#nav_links {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 25px;
}	

.part_title {
	font-size: larger;
	font-weight: 300;
}

.perchantage_progress {
	margin-right: 15%;
}

#profilePhoto {
	height: 150px;
	width: 100px;
}		

ul {
	list-style: none;
}		

.progress_bar h4{
	color:#4d4d4d !important;
	font-weight:300;
	font-size: large;
	margin-bottom: -20px;
	
}
.progress_bar .progress {
  height: 4px !important;
	margin-bottom: 3%;
}
.progress_bar .progress-bar{
	background:#1dc0c0;
}
.perchantage{
	font-size: medium;
	font-weight:400;
	color:#686868;
}

